.hidden{
  display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding-top: 20px;
}
main {
  margin-top: 100px;
  margin-left: 300px;
  max-width: 800px;
  padding: 10px;
}
#user-login {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -175px;
  padding: 20px;
  text-align: right;
}
body {
 background-image: url("https://i.imgur.com/kTHsLi9.jpg");
 background-size: cover;
 height: 100%;
 background-repeat: no-repeat;
}
#title {
  left: 50%;
  top: 5%;
  margin-left: -100px;
  position: fixed;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
#trip-list {
  list-style: none;
  cursor: pointer;
}
#about-button {
  max-width: 100px;
  margin-left: 80px;
}
#about {
  max-width: 250px;
}
.footer {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
background-color: white;
}
