.hidden{
  display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
#main {
  margin-top: 100px;
  margin-left: 100px;
  padding: 10px;
  width: 55%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding-left: 10px;
}
#user-login {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -175px;
  padding: 20px;
  text-align: right;
  width: 280px;
  border-radius: 25px;
  border: 2px solid #73AD21;
}
body {
 background-image: url("https://i.imgur.com/kTHsLi9.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 background-repeat:repeat-y;
}
#title {
  left: 50%;
  top: 5%;
  margin-left: -100px;
  position: fixed;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 0 0 3px #FF0000;
  box-shadow: 5px 5px 5px grey;
  padding-top: 4px;
  z-index: 5;
}
#trip-list {
  list-style: none;

}
.trip-list-item:hover {
  background-color: #00ffff;
  cursor: pointer;
}
#about-button {
  max-width: 100px;
  margin-left: 80px;
  transition: all 0.5s;
}

#about {
  max-width: 250px;
}
.footer {
bottom: 0px;
width: 100%;
text-align: center;
background-color: white;
z-index: 5;
height:40px;
margin-top:-40px;
position: absolute;
left: -1.5px;
}

/*Clock Starts */
*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size:14px;
}
.analog-clock{
    width:140px;
    height:140px;
    margin-left: 100px;
    margin-top : 100px;
    opacity: 0.9;
    position: fixed;

}
#clock-face{
    stroke:black;
    stroke-width:2px;
    fill:white;
}
#h-hand, #m-hand, #s-hand, #s-tail{
    stroke:black;
    stroke-linecap:round;
}
#h-hand{
    stroke-width:3px;
}
#m-hand{
    stroke-width:2px;
}
#s-hand{
    stroke-width:1px;
}
.time-text{
    text-align:center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/*Clock Ends */
.trip-list-item {
  padding-top: 2px;
}
#translation-list {
  list-style: none;
}


/*Tooltip starts  */
.btn {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;

}

.btn .tooltiptext{
  visibility: hidden;
  width: 60px;
  background-color: #DC143C;
  color: #F0FFFF;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  height: auto;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
}

.btn:hover .tooltiptext{
  visibility: visible;
}
/*tooltip ends  */
/* styling lists */
li, #output, #source{
  line-height: 3;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

#currency-div{
  position: fixed;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #73AD21;
  margin-left: 800px;
  margin-top: 120px;
}
#base-span, #convert-span{
  font-size: 0.6em;
}

.mySlides {
  position: absolute;
  max-width: 5%;
  left: 780px;
  top:40px;
  border-radius: 10%;
}

@media only screen and (max-width: 1200px) {
  /*Home page changes start  */
  .analog-clock{
    visibility: hidden;
  }
  #about-button{
    max-width: 100px;
    margin-left: 150px;
    transition: all 0.5s;
  }
  #about{
    max-width: 400px;
  }
  #currency-div{
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 6;
  }

  .mySlides {
    visibility: hidden;
    left : 100px;
  }

  #user-login {
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left:0px;
    padding: 20px;
    text-align:center;
    width: auto;
    border-radius: 25px;
    border: 2px solid #73AD21;

  }
   #title {
     left: 0%;
     top: 0%;
     margin-left: 0px;
     position: relative;
     text-align: center;
     padding-left: 0px;
     padding-right: 0px;
     text-shadow: 0 0 3px #FF0000;
     box-shadow: 8px 8px 8px silver;
     padding-top: 4px;
  }
  .footer {
    height:40px;
    margin-top:-40px;
    position: relative;
    left: -1.5px;
    bottom: -70px;
    border-radius: 25px;
    border: 2px solid #73AD21;
  }
  /*Home page changes end  */

  /*login page changes start */
  .sidenav {
    position: relative;
    margin-top: -100px;
    width: auto;
  }
  #main {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    position: relative;

  }
}
